@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,OrnekUygulama

<a href="mailto:musa.uyumaz73@gmail.com">Email</a>
<email mail="musa.uyumaz73@gmail.com" display="Musa Uyumazın Emaili"></email>
<mail></mail>

@*<mail-gonder-form></mail-gonder-form>*@