@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model OrnekUygulama.Models.Product

<form asp-action="VeriAl" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" placeholder="Product Name"/>
    @*@Html.TextBoxFor(x=>x.ProductName ,"" , new {placeHolder = "Product Name"})*@
    <br />
    <input type="number" asp-for="Quantity" name="Quantity" placeholder="Quantity"/>
    @*@Html.TextBoxFor(x=>x.Quantity ,"" , new {placeHolder = "Quantity",type="number"})*@
    <br />
    <button>Ürün Ekle</button>
</form>

<a asp-action="Index" asp-controller="Home" asp-route-a="ahmet" asp-route-b="mehmet" asp-route-id="123" asp-route-x="agfasfasf">content</a>

{controller=Home}/{action=Index}/{a}/{b}/{id}