@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@*@Html.BeginForm("Index","Product",FormMethod.Post);
<form asp-action="Index" asp-controller="Product" method="post">
    @Html.TextBox("txtAdi")

    <input type="text"/>
    <select asp->
        <option value="value">text</option>
    </select>

</form>*@


<cache>
    Cache : @DateTime.Now
</cache>
<br />
@DateTime.Now