
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <ul>
        <li><a href="/Home/Index">Anasayfa</a></li>
        <li><a href="/Home/Sayfa1">Sayfa1</a></li>
        <li><a href="/Home/Sayfa2">Sayfa2</a></li>
    </ul>
    @RenderBody()
</body>
</html>
